@import "remove.css";

:root {
  --l-size: 2rem;
  --m-size: 1.2rem;
  --s-size: 0.8rem;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-box {
  min-width: 70%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.box-title {
  text-align: center;
  margin-bottom: 20px;
}

.box-title h2 {
  font-size: var(--l-size);
  font-weight: 600;
  margin-bottom: 15px;
}

.box-title label {
  font-size: var(--s-size);
}

.box-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-content__box {
  width: 30%;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 5px;
  color: white;
  text-align: center;
  position: relative;
}

.box-content__box h3 {
  font-size: var(--m-size);
  font-weight: 600;
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.box-content__box span {
  display: block;
  width: 90%;
  font-size: var(--s-size);
  overflow-wrap: anywhere;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
